@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply m-0 h-full overflow-hidden bg-white dark:bg-zinc-950;
  }

  body {
    @apply text-zinc-950 antialiased dark:text-white;
  }

  @font-face {
    font-family: "geist";
    font-style: normal;
    font-weight: 100 900;
    src: url(/fonts/geist.woff2) format("woff2");
  }

  @font-face {
    font-family: "geist-mono";
    font-style: normal;
    font-weight: 100 900;
    src: url(/fonts/geist-mono.woff2) format("woff2");
  }
}

.skeleton {
  * {
    pointer-events: none !important;
  }

  *[class^="text-"] {
    color: transparent;
    @apply animate-pulse select-none rounded-md bg-slate-200/20;
  }

  .skeleton-bg {
    @apply bg-slate-200/10;
  }

  .skeleton-div {
    @apply animate-pulse bg-slate-200/20;
  }
}
